.todo-list{
    margin:auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    border:1px solid black;
    border-radius: 10px;
}
.task-list {
    width: auto;
    margin: 1rem;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}