.todo-list{
    margin:auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    background: #FEFEFE;
}
.task-list {
    width: auto;
    height: 40rem;
    margin: 1rem;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: scroll;
}

ul {
    margin: 0;
    padding: 0;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}